@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

/* 変数 */
:root{
    --page-ground: #ccc;
    --component-ground: #f0f0f0;
    --green: #48D287;
    --blue: #16a0ef;
    scroll-behavior: smooth;
}

/* reset CSS */
body{
    padding: 0;
    margin: 0;
    background: var(--page-ground);
    min-width: 375px;
}

body::-webkit-scrollbar{
    display: none;
}

h1, h2, h3, p, a{
    font-size: 16px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    color: #000;
    text-decoration: none;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    padding: 0;
    margin: 0;

}

input::placeholder{
    color: var(--page-ground);
}
/* style */

.primary-header{
    width: 100%;
    height: 88px;
    display: flex;
    background: var(--green);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}
.primary-header div{
    flex-basis: 0;
    flex-grow: 1;
}

.logo h1{
    font-size: 20px;
    color:#fff;
    margin-left: 24px;
    padding: 2px;
    line-height: 28px;
    font-family: 'Kosugi Maru', sans-serif;
    white-space: pre-line;
    text-align: center;
    border: 1px solid #fff;
    width: 100px;
    transition: opacity .2s;

}

.logo:hover h1{
    opacity: 0.7;
}

.page-title h1{
    font-size: 28px;
    font-weight: bold;
    color:#fff;
    text-align: center;
}

.header-nav{
    display: flex;
    justify-content: flex-end;
}

.header-nav .meals-latest .st0{
    fill:#fff;
    transition: all 0.2s;
}

.header-nav .meals-latest:hover .st0{
    fill:#16a0ef;
}

.header-nav .meals-latest.is-active .st0{
    fill:#16a0ef;
}

.header-nav .calender i{
    display: flex;
    justify-content: flex-end;
    color: #fff;
    font-size: 40px;
}

.header-nav .calender i{
    margin: 0 24px;
    transition: color 0.2s;
}

.header-nav .calender i:hover{
    color: #16a0ef;
}

.header-nav .calender.is-active i{
    color: #16a0ef;
}

/* -------------------------- */

.progress-bar-container{
    position: fixed;
    margin-top: 88px;
    width: 100%;
    height: 88px;
    background: #fff;
}

.progress-bar{
    display: flex;
    justify-content: space-around;
}
.progress-bar_item{
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 8px;
}

.progress-bar_item div{
    content: "";
    width: 100%;
    height: 16px;
    background: #ddd;
    border-radius: 8px;
    margin-top: 16px;
}

.progress-bar_item h2{
    padding: 8px 0 16px 0;
    text-align: center;
}

.top-magin{
    content: "";
    height: 88px;
}

/* --------------------------- */
.main-contents-container{
    padding: 24px;
    margin: 0 auto;
    max-width: 1280px;
}



.meals-container{
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 16px;
}



.recipe-search form{
    position: relative;
    max-width: 308px;
    background: var(--component-ground);
    padding: 4px;
    height: 40px;
    border-radius: 4px;
}

.recipe-search form input{
    position: absolute;
    top:8px;
    left: 8px;
    width: 250px;
    height: 32px;
    box-sizing: border-box;
    border-radius: 16px 0 0 16px;
    border: none;
    padding: 0 16px;
    background: var(--component-ground);
    box-shadow: inset 3px 3px 6px #cccccc,
    inset -3px -3px 6px #ffffff;
    
}

.recipe-search form button{
    position: absolute;
    width: 50px;
    height: 32px;
    top:8px;
    left: 258px;
    box-sizing: border-box;
    border-radius: 0 16px 16px 0;
    border: none;
    background: var(--blue);
    color: #fff;
    transition: transform 0.3s;
}

.recipe-search form input:focus{
    border: none;
    outline: none;
}

.recipe-search form button:hover{
    opacity: 0.8;
    transform: scale(1.05);
}



/* -------------------------- */

.article-container{
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 16px;
}

.article{
    background:  var(--component-ground);
    border-radius: 16px;
    transition: opacity 0.3s;
}

.article:hover{
    opacity: 0.7;
}

.article__time{
    margin: 8px 0;
}

.article__time time{
    display: block;
    text-align: right;
    padding-right: 8px;
    font-size: 16px;
}

.article__img{
    width: 100%;
}

.article__img img{
    width: 100%;
    height: 160px;
    object-fit:cover;
}

.article__text{
    padding: 8px;
}

.article__text h1{
    line-height: 32px;
    font-size: 20px;
    font-weight: bold;
}

.article__text p{
    line-height: 16px;
    font-size: 12px;
    color: #aaa;
}

/* ------------------------------*/

#to-top{
    position: fixed;
    bottom: 100px;
    right: 12px;
    z-index: 5;
    transition: transform .5s;
}

#to-top a{
    content: "";
    width: 64px;
    height: 64px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#to-top i{
    font-size: 24px;
    color: #48D287;
}

#to-top:hover{
    transform: translateY(-8px)
}


/* ---------------------------- */

.global-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 88px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(6px);
}

.global-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
}


.global-nav li{
    width: 200px;
    transition: transform 0.3s;
}

.global-nav i{
    font-size: 40px;
    text-align: center;
    display: block;
}

.global-nav p{
    font-size: 20px;
    text-align: center;
}

.global-nav li:hover{
    transform: scale(0.9);
}

.global-nav li:nth-child(1) i,
.global-nav li:nth-child(1) p{
    color: #16a0ef;
}

@media screen and (max-width:768px){

    .page-title h1{
        font-size: 20px;
    }

    /* ---------------- */

    .article-container{
        grid-template-columns: repeat(2, 1fr);
    }

    /* --------------- */
    .global-nav p{
        display: none;
    }
}



