@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

/* 変数 */
:root{
    --page-ground: #ccc;
    --component-ground: #f0f0f0;
    --green: #48D287;
    --blue: #16a0ef;
}

/* reset CSS */
body{
    padding: 0;
    margin: 0;
    background: var(--page-ground);
    min-width: 375px;
}

body::-webkit-scrollbar{
    display: none;
}

h1, h2, h3, p, a{
    font-size: 16px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    color: #000;
    text-decoration: none;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    padding: 0;
    margin: 0;

}

input::placeholder{
    color: var(--page-ground);
}

/* style */

.primary-header{
    width: 100%;
    height: 88px;
    display: flex;
    background: var(--green);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}
.primary-header div{
    flex-basis: 0;
    flex-grow: 1;
}

.logo h1{
    font-size: 20px;
    color:#fff;
    margin-left: 24px;
    padding: 2px;
    line-height: 28px;
    font-family: 'Kosugi Maru', sans-serif;
    white-space: pre-line;
    text-align: center;
    border: 1px solid #fff;
    width: 100px;
    transition: opacity .2s;

}

.logo:hover h1{
    opacity: 0.7;
}

.page-title h1{
    font-size: 28px;
    font-weight: bold;
    color:#fff;
    text-align: center;
}

.header-nav{
    display: flex;
    justify-content: flex-end;
}

.header-nav .meals-latest .st0{
    fill:#fff;
    transition: all 0.2s;
}

.header-nav .meals-latest:hover .st0{
    fill:#16a0ef;
}

.header-nav .meals-latest.is-active .st0{
    fill:#16a0ef;
}

.header-nav .calender i{
    display: flex;
    justify-content: flex-end;
    color: #fff;
    font-size: 40px;
}

.header-nav .calender i{
    margin: 0 24px;
    transition: color 0.2s;
}

.header-nav .calender i:hover{
    color: #16a0ef;
}

.header-nav .calender.is-active i{
    color: #16a0ef;
}

/* ---------------------- */

.top-magin{
    content: "";
    height: 88px;
}

/* --------------------------- */

.contents-container{
    padding: 24px;
    margin: 0 auto;
    max-width: 1280px;
}

.form-container{
    flex-basis: 0;
    flex-grow: 1;
    margin-top: 16px;
    padding: 16px;
    background: var(--component-ground);
    border-radius: 16px;
}

.form-container.logout{
    background: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}



.form-container + .form-container{
    margin-left: 16px;
}

.form-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-title h1{
    line-height: 48px;
    font-size: 32px;
    font-weight: bold;
}

/* .form-title a{
    line-height: 48px;
    font-size: 16px;
    color: var(--blue);
} */

.form-title button{
    font-size: 16px;
    border:none;
    color: var(--blue);
    transition: all 0.3s;
}

.form-title button:hover{
    text-decoration: underline solid var(--blue) 1px;
}


.green-bar{
    content: "";
    width: 60%;
    height: 4px;
    background: var(--green);
    border-radius: 0 2px 2px 0;
    transition: width 0.3s;
}

.form-title:hover + .green-bar{
    width: 80%;
}

/* ---------------------------------------- */

.account-container{
    display: flex;
}

.account-container div{
    flex-basis: 0;
    flex-grow: 1;
}

.account-container > div:nth-child(2){
    margin-left: 16px;
    padding-left: 16px; 
    opacity: 0;
    pointer-events: none;
}

.account li{
    outline: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 16px;
}

.account li:first-child{
    margin-top: 20px;
}

.account li div:first-child{
    display: flex;
    align-items: center;
}

.account li i{
    font-size: 24px;
}


.account li h2{
    line-height: 28px;
    font-size: 16px;
    margin-left: 8px;
    width: 120px;
}

.account li p{
    line-height: 28px;
    font-size: 16px;
    font-weight: bold;
}


.user-info{
    display: flex;
}

.birthday_container{
    margin-top: 24px;
    padding: 8px 16px 24px;
}

.birthday_container h2{
    line-height: 32px;
    font-size: 16px;
    color: #666;
}

.birthday{
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.birthday input{
    width: 40px;
    height: 32px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    background: var(--component-ground);
    border: none;
    outline: none;
    box-shadow: inset 3px 3px 6px #cccccc,
    inset -3px -3px 6px #ffffff;
}

.birthday input:first-child{
    width: 64px;
}

.birthday span{
    margin-left: 8px;
    margin-right: 16px;
}

.sex_container{
    padding: 8px 16px 24px;
}

.sex_container h2{
    line-height: 32px;
    font-size: 16px;
    color: #666;
}

.sex-radio{
    margin-top: 8px;
}

.sex-radio label{
    margin-right: 20px;
}

#sex-male{
    opacity: 0;
}

#sex-male + label{
    position: relative;
    font-size: 15px;
}
#sex-male + label::before{
    position: absolute;
    top: 0;
    left: -32px;
    content: "";
    width: 24px;
    height: 24px;
    background: var(--component-ground);
    border-radius: 50%;
    box-shadow:  3px 3px 6px #cccccc,
     -3px -3px 6px #ffffff;
}

#sex-male:checked + label::after{
    position: absolute;
    top: 4px;
    left: -28px;
    content: "";
    width: 16px;
    height: 16px;
    background: #48D287;
    border-radius: 50%;
}

#sex-male:not(:checked) + label::after{
    opacity: 0;
}

#sex-female{
    opacity: 0;
}

#sex-female + label{
    position: relative;
    font-size: 15px;
}
#sex-female + label::before{
    position: absolute;
    top: 0;
    left: -32px;
    content: "";
    width: 24px;
    height: 24px;
    background: var(--component-ground);
    border-radius: 50%;
    box-shadow:  3px 3px 6px #cccccc,
     -3px -3px 6px #ffffff;
}

#sex-female:checked + label::after{
    position: absolute;
    top: 4px;
    left: -28px;
    content: "";
    width: 16px;
    height: 16px;
    background: #48D287;
    border-radius: 50%;
}

#sex-female:not(:checked) + label::after{
    opacity: 0;
}

#sex-other{
    opacity: 0;
}

#sex-other + label{
    position: relative;
    font-size: 15px;
}
#sex-other + label::before{
    position: absolute;
    top: 0;
    left: -32px;
    content: "";
    width: 24px;
    height: 24px;
    background: var(--component-ground);
    border-radius: 50%;
    box-shadow:  3px 3px 6px #cccccc,
     -3px -3px 6px #ffffff;
}

#sex-other:checked + label::after{
    position: absolute;
    top: 4px;
    left: -28px;
    content: "";
    width: 16px;
    height: 16px;
    background: #48D287;
    border-radius: 50%;
}

#sex-other:not(:checked) + label::after{
    opacity: 0;
}

#sex-unknown{
    opacity: 0;
}

#sex-unknown + label{
    position: relative;
    font-size: 15px;
}
#sex-unknown + label::before{
    position: absolute;
    top: 0;
    left: -32px;
    content: "";
    width: 24px;
    height: 24px;
    background: var(--component-ground);
    border-radius: 50%;
    box-shadow:  3px 3px 6px #cccccc,
     -3px -3px 6px #ffffff;
}

#sex-unknown:checked + label::after{
    position: absolute;
    top: 4px;
    left: -28px;
    content: "";
    width: 16px;
    height: 16px;
    background: #48D287;
    border-radius: 50%;
}

#sex-unknown:not(:checked) + label::after{
    opacity: 0;
}

.height_container{
    padding: 8px 16px 24px;
}

.height_container h2{
    line-height: 32px;
    font-size: 16px;
    color: #666;
}

.height{
    margin-top: 8px;
}

.height_container input{
    width: 72px;
    height: 32px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    background: var(--component-ground);
    border: none;
    outline: none;
    box-shadow: inset 3px 3px 6px #cccccc,
    inset -3px -3px 6px #ffffff;
    border-radius: 16px;
}

.height_container span{
    list-style: 24px;
    font-size: 16px;
}

.weight_container{
    padding: 8px 16px 24px;
}

.weight_container h2{
    line-height: 32px;
    font-size: 16px;
    color: #666;
}

.weight{
    margin-top: 8px;
}

.weight_container input{
    width: 72px;
    height: 32px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    background: var(--component-ground);
    border: none;
    outline: none;
    box-shadow: inset 3px 3px 6px #cccccc,
    inset -3px -3px 6px #ffffff;
    border-radius: 16px;
}

.weight_container span{
    list-style: 24px;
    font-size: 16px;
}

.exercise-intensity_container{
    padding: 8px 16px 24px;
}

.exercise-intensity_container div{
    margin-top: 12px;
}

.exercise-intensity_container h2{
    line-height: 32px;
    font-size: 16px;
    color: #666;
}


#exercise-intensity-1{
    opacity: 0;
}

#exercise-intensity-1 + label{
    position: relative;
}
#exercise-intensity-1 + label::before{
    position: absolute;
    top: 0;
    left: -32px;
    content: "";
    width: 24px;
    height: 24px;
    background: var(--component-ground);
    border-radius: 50%;
    box-shadow:  3px 3px 6px #cccccc,
     -3px -3px 6px #ffffff;
}

#exercise-intensity-1:checked + label::after{
    position: absolute;
    top: 4px;
    left: -28px;
    content: "";
    width: 16px;
    height: 16px;
    background: #48D287;
    border-radius: 50%;
}

#exercise-intensity-1:not(:checked) + label::after{
    opacity: 0;
}

#exercise-intensity-2{
    opacity: 0;
}

#exercise-intensity-2 + label{
    position: relative;
    align-items: center;
}
#exercise-intensity-2 + label::before{
    position: absolute;
    top: 0;
    left: -32px;
    content: "";
    width: 24px;
    height: 24px;
    background: var(--component-ground);
    border-radius: 50%;
    box-shadow:  3px 3px 6px #cccccc,
     -3px -3px 6px #ffffff;
}

#exercise-intensity-2:checked + label::after{
    position: absolute;
    top: 4px;
    left: -28px;
    content: "";
    width: 16px;
    height: 16px;
    background: #48D287;
    border-radius: 50%;
}

#exercise-intensity-2:not(:checked) + label::after{
    opacity: 0;
}

#exercise-intensity-3{
    opacity: 0;
}

#exercise-intensity-3 + label{
    position: relative;
}
#exercise-intensity-3 + label::before{
    position: absolute;
    top: 0;
    left: -32px;
    content: "";
    width: 24px;
    height: 24px;
    background: var(--component-ground);
    border-radius: 50%;
    box-shadow:  3px 3px 6px #cccccc,
     -3px -3px 6px #ffffff;
}

#exercise-intensity-3:checked + label::after{
    position: absolute;
    top: 4px;
    left: -28px;
    content: "";
    width: 16px;
    height: 16px;
    background: #48D287;
    border-radius: 50%;
}

#exercise-intensity-3:not(:checked) + label::after{
    opacity: 0;
}

/* ------------------------- */

.purpose-container{
    padding: 8px 16px 24px;
}

.purpose-container div:not(:first-child){
    margin-top: 12px;
}

.purpose-container div:first-child{
    display: flex;
}

.purpose-container h2{
    line-height: 32px;
    font-size: 16px;
    color: #666;
}

.purpose-container span{
    color: #666;
    line-height: 32px;
    font-size: 12px;
    margin-left: 8px;
}


#purpose-1{
    opacity: 0;
}

#purpose-1 + label{
    position: relative;
}
#purpose-1 + label::before{
    position: absolute;
    top: 0;
    left: -32px;
    content: "";
    width: 24px;
    height: 24px;
    background: var(--component-ground);
    border-radius: 4px;
    box-shadow:  3px 3px 6px #cccccc,
     -3px -3px 6px #ffffff;
}

#purpose-1:checked + label::after{
    position: absolute;
    top: 4px;
    left: -28px;
    content: "";
    width: 16px;
    height: 16px;
    background: #48D287;
    border-radius: 2px;
}

#purpose-1:not(:checked) + label::after{
    opacity: 0;
}

#purpose-2{
    opacity: 0;
}

#purpose-2 + label{
    position: relative;
}
#purpose-2 + label::before{
    position: absolute;
    top: 0;
    left: -32px;
    content: "";
    width: 24px;
    height: 24px;
    background: var(--component-ground);
    border-radius: 4px;
    box-shadow:  3px 3px 6px #cccccc,
     -3px -3px 6px #ffffff;
}

#purpose-2:checked + label::after{
    position: absolute;
    top: 4px;
    left: -28px;
    content: "";
    width: 16px;
    height: 16px;
    background: #48D287;
    border-radius: 2px;
}

#purpose-2:not(:checked) + label::after{
    opacity: 0;
}

#purpose-3{
    opacity: 0;
}

#purpose-3 + label{
    position: relative;
}
#purpose-3 + label::before{
    position: absolute;
    top: 0;
    left: -32px;
    content: "";
    width: 24px;
    height: 24px;
    background: var(--component-ground);
    border-radius: 4px;
    box-shadow:  3px 3px 6px #cccccc,
     -3px -3px 6px #ffffff;
}

#purpose-3:checked + label::after{
    position: absolute;
    top: 4px;
    left: -28px;
    content: "";
    width: 16px;
    height: 16px;
    background: #48D287;
    border-radius: 2px;
}

#purpose-3:not(:checked) + label::after{
    opacity: 0;
}

/* ------------------------- */

.favorite-foods-container{
   margin-top: 24px;
   padding: 8px 16px 24px;
}

.favorite-foods-container label{
    display: block;
    color: #666;
}

.favorite-foods-container textarea{
    margin-top: 8px;
    padding: 16px;
    width: 90%;
    height: 120px;
    resize: none;
    background: none;
    border: none;
    border-radius: 16px;
    outline: none;
    box-shadow: inset 3px 3px 6px #cccccc,
    inset -3px -3px 6px #ffffff;
    font-size: 16px;
    line-height: 24px;
}

/* ----------------------------- */

.disliked-foods-container{
    padding: 8px 16px 24px;
 }
 
 .disliked-foods-container label{
     display: block;
     color: #666;
 }
 
 .disliked-foods-container textarea{
     margin-top: 8px;
     padding: 16px;
     width: 90%;
     height: 120px;
     resize: none;
     background: none;
     border: none;
     border-radius: 16px;
     outline: none;
     box-shadow: inset 3px 3px 6px #cccccc,
     inset -3px -3px 6px #ffffff;
     font-size: 16px;
     line-height: 24px;
 }

/* ------------------------------ */

.allergy-container{
    padding: 8px 16px 24px;
}

.allergy-container li{
    position: relative;
}

.allergy-container li{
    margin-top: 12px;
}

.allergy-container select{
    appearance: none;
    height: 32px;
    border-radius: 16px;
    width: 180px;
    padding: 0 16px;
    background: var(--component-ground);
    box-shadow: inset 3px 3px 6px #cccccc,
    inset -3px -3px 6px #ffffff;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.allergy-container li::before{
    position: absolute;
    top: 14px;
    left: 156px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;
    pointer-events: none;
}

.allergy-container select:focus{
    outline: none;
    box-shadow: inset 0px 0px 6px rgba(21, 171, 255, 1);
}


/* ---------------------------- */

.global-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 88px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(6px);
}

.global-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
}

.global-nav li{
    width: 200px;
    transition: transform 0.3s;
}

.global-nav i{
    font-size: 40px;
    text-align: center;
    display: block;
}

.global-nav p{
    font-size: 20px;
    text-align: center;
}

.global-nav li:hover{
    transform: scale(0.9);
}

.global-nav li:nth-child(5) i,
.global-nav li:nth-child(5) p{
    color: #16a0ef;
}

@media screen and (max-width:768px){
    
    .page-title h1{
        font-size: 20px;
    }

    /* ---------------- */
    .top{
        display: block;
    }

    .top-left, .top-right{
        width: 100%;
    }

    .top-right{
        margin-left: 0px;
        margin-top: 16px;
    }

    .nutrition{
        display: block;
    }

    .nutrition-chart{
        margin-top: 32px;
        margin-left: 0;
    }

    .nutrition-chart__contents{
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }

    .rader_result{
        width: 300px !important;
        height: 300px !important;
    }

    .meal{
        width: calc(50% - 8px);
    }

    .meal:nth-child(3){
        margin-left: 0px !important;
        margin-top: 16px;
    }

    .meal:nth-child(4){
        margin-top: 16px;
    }


    .account-container{
        flex-direction: column-reverse;
    }

    .user-info{
        flex-direction: column;
    }

    .form-container + .form-container{
        margin-left: 0;
    }

    .form-container.logout{
        display: none;
    }
    /* --------------- */
    .global-nav p{
        display: none;
    }
}